* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-item, .hero-subtext, .hero-image {
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding: 100px 200px;
    gap: 40px;

    height: 200px;
}

.hero > * {
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-image {
    background-color: slategray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-button, .call-to-action-banner {
    background-color: #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-content-item {
    flex-basis: 150px;
}

.info-image {
    border: 1px solid black;
    height: 150px;
    width: 100%;
}

.info-subtext {
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 425px;
}

.testimonial-text {
    font-size: 36px;

    /* weight not working with default font; check after installing roboto */
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.testimonial-attribution {
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action, .call-to-action-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-banner {
    color: #F9FAF8;
    padding: 20px 60px;
    gap: 20px
}

.call-to-action-title {
    font-weight: bold;
}

.call-to-action-subtext {
    color: #E5E7EB;
}

.sign-up-button {
    padding: 5px 20px;
    /* same color as .header-logo and .hero-title */
    color: #F9FAF8;
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
}