/* Reset defaults to 0 */
* {
    margin: 0;
    padding: 0;
}

/* ------------------- */

/* Styling taken from specification */

.hero, .footer {
    background-color: #1F2937;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext, .nav-item {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.sign-up-button, .call-to-action-banner {
    background-color: #3882F6;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.testimonial {
    background-color: #E5E7EB;
}

.testimonial-text {
    font-size: 36px;

    /* weight not working with default font; check after installing roboto */
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

/* -------------- */


/* Not specified explicitly but added to match with design */

/* Same background color as .hero and .footer */
.header {
    background-color: #1F2937;
}
.footer {
    color: #E5E7EB;
}

/* Same font properties as .hero-subtext and .nav-item */
.hero-image {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    /* same color as .header-logo and .hero-title */
    color: #F9FAF8;
}

.call-to-action-banner {
    color: #F9FAF8;
}

/* ----------------- */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.main > * {
    flex: 1;
}

.hero {
    display: flex;
    padding: 0 200px;
}

.hero > * {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-content-item {
    flex-basis: 150px;
}

.info-image {
    border: 1px solid black;
    height: 150px;
    width: 100%;
}

.info-subtext {
    text-align: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 425px;
}

.testimonial-attribution {
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action, .call-to-action-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-banner {
    padding: 20px 60px;
    gap: 20px
}

.call-to-action-title {
    font-weight: bold;
}

.call-to-action-subtext {
    color: #E5E7EB;
}

.sign-up-button {
    padding: 5px 20px;
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}